* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
}

.color-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  min-height: 48px;
}

.color-list__item {
  width: 4px;
  height: 4px;
  background: black;
}

.text-input {
  width: 100%;
  border: 2px solid black;
  padding: 8px;
}
